# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/simple-recipes/node_modules
/apps/simple-recipes/public
/apps/simple-recipes/.cache

/apps/simply-recipes/node_modules
/apps/simply-recipes/public
/apps/simply-recipes/.cache

/apps/simply-recipes/node_modules
/apps/simply-recipes/public
/apps/simply-recipes/.cache

/apps/simply-recipes/node_modules
/apps/simply-recipes/public
/apps/simply-recipes/.cache

/apps/simply-recipes/node_modules
/apps/simply-recipes/public
/apps/simply-recipes/.cache

/apps/simply-recipes/node_modules
/apps/simply-recipes/public
/apps/simply-recipes/.cache
